#heading
{
    
    font-size: 25px;
    background-size: cover;
    background-position: center;
}
#Ac
{
    background: white;
    font-size: 22px;
    color: black;
    width: 300px;
    border-radius: 30px;
    margin-top: 30px;
}
#Chair
{
    background: white;
    font-size: 22px;
    color: black;
    width: 300px;
    border-radius: 30px;
    margin-top: 8px;
}
#Tv
{
    background: white;
    font-size: 22px;
    color: black;
    width: 300px;
    border-radius: 30px;
    margin-top: 8px;
}
#Clock
{
    background: white;
    font-size: 22px;
    color: black;
    width: 300px;
    border-radius: 30px;
    margin-top: 8px;
}
#Phone
{
    background: white;
    font-size: 22px;
    color: black;
    width: 300px;
    border-radius: 30px;
    margin-top: 8px;
}
#Plate
{
    background: white;
    font-size: 22px;
    color: black;
    width: 300px;
    border-radius: 30px;
    margin-top: 8px;
}
